body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(90deg, rgb(189, 204, 230), rgb(172, 172, 172),  rgb(98, 232, 247), rgb(185, 162, 189), rgb(172, 172, 172));
  background-size: 10000px;
  color: rgba(0, 0, 0, 0.768);
  border-radius: 0;
  border-bottom: 10px solid black;
  animation: grad 20s infinite alternate;
  height: 200px;
  padding: 15px;
}

/* h1{
  padding-top: 0px;
} */

.lead{
  color: rgba(240, 240, 240, 0.734);
}

@keyframes grad{
  0%{ background-position: left;
  }
  100%{ background-position: right;
  }
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.startLi{
  list-style: none;
  border-top-style: dashed;
  border-width: 1px;
  text-align: center;
  padding-top: 2rem;
  padding-left: 2.3rem;
  font-size: 18px;

}

/* bottom border under */
#BB{
  border-bottom-style: dashed;
  border-width: 1px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #272727;
  border-top: 1px dashed #000000;
}

.past {
  background: linear-gradient(90deg, white 0.5%, #d3d3d3bf 65%, rgba(19, 162, 194, 0.734)100%);
  color: rgb(46, 45, 45);
}

.present {
  background: linear-gradient(90deg, white 0.5%, #d3d3d3bf 55%, #ff6961 100%);
  color: rgb(46, 45, 45);
}
/* for present and future make animation changing from the past colour to the new color 
add past color to start of present and future also */
.future {
  background: linear-gradient(90deg, white 0.5%, #d3d3d3bf 65%, #77dd77 100%);
  color: rgb(46, 45, 45);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .1s ease-in-out;
}
